
.body {
    background-image: url("../IMG/foto.png");
    background-size: cover;
    font-family: 'Ubuntu', sans-serif;

}
.contaiter{
    max-width: 1110px;
    margin: 0 auto ;
}

.header{
    background: rgba(0, 0, 0, 0.4);
}
.header-contacts-wrapper{
    display: flex;
    justify-content: space-between;
}

.header-nav {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    /*background: rgba(0, 0, 0, 0.4);*/
}

.header-logo {
    display: inline-block;
    font-size: 22px;
    color: #FFFFFF;
    margin-top: 18px;

}
.header-logo:hover{
    color: #4c6c4c;
}
.header-sing-in:hover{
    color: #4c6c4c;
}
.header-items {
    display: inline-block;
}

.header-items-nav {
    display: inline-block;
    padding-left: 25px;
    padding-top: 17px;
    padding-bottom: 17px;
}


.header-contacts-nav {
    /*font-family: Ubuntu, serif;*/
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: #FFFFFF;
    display: flex;
    padding-top: 22px;
    padding-left: 25px;
}

.nav-hello {
    padding-left: 3px;
}

.header-sing-in {
    padding-left: 3px;
    color: #FFFFFF;
}

.header-contacts-nav::before {
    content: "";
    height: 27px;
    width: 3px;
    background: rgba(255, 255, 255, 0.9);;
    display: inline-block;
    margin-right: 27px;
    position: relative;
    bottom: 6px;
}

.header-img-nav:hover path{
     fill: #4c6c4c;
}
.form{
    width: 448px;
    margin: 54px auto;
    background: #FFFFFF;
}
.form-header{
    display: flex;
    justify-content: space-between;
    padding: 31px 60px 15px 60px;
}
.form-header-sing-in{
    font-family: Ubuntu, sans-serif;

    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 20px;

    text-align: center;

    color: #434343;


}
.form-header-log-in{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 14px;
    display: flex;
    align-items: center;
    color: #3CB878;
}
.form-header-log-in:hover{
    text-decoration: underline;
    color: #01813F;
}
.button-left{
    display: inline-block;

    background: #305DB8;
    padding: 24px 80px;
    margin-left: 60px;
    position: relative;
    border-radius: 4px;
}
.button-logo-left::after{
    content: "";
    width: 1px;
    height: 28px;
    background: #0A162F;
    mix-blend-mode: normal;
    opacity: 0.1;
    display: inline-block;
    position: relative;
    left: 18px;
    top: 3px;
}



.button-left:hover{
    background: #022263;
}

.button-logo-left{
    position: absolute;
    left: 17px;
    top: 7px;
}
.button-title-left{
    position: absolute;
    left: 67px;
    top: 17px;
}



.button-right{
    display: inline-block;

    background: #DF4A32;
    padding: 24px 80px;
    margin-left: 3px;
    margin-right: 60px;
    position: relative;
    border-radius: 4px;
}

.button-logo-right::after{
    content: "";
    width: 1px;
    height: 28px;
    background: #2B0D09;
    mix-blend-mode: normal;
    opacity: 0.1;
    display: inline-block;
    position: relative;
    left: 7px;
    top: 3px;
}
.button-right:hover{
    background: #AB1F09;
}

.button-logo-right{
    position: absolute;
    left: 12px;
    top: 6px;
}
.button-title-right{
    position: absolute;
    left: 80px;
    top: 17px;
}

/* BORDER */

.border{
    display: flex;
    justify-content: center;
    margin-top: 31px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: #848484;
}
.border:before {
    content: "";
    width: 152px;
    height: 2px;
    background: #F2F2F2;
    display: inline-block;
    margin-top: 7px;
    margin-right: 5px;
}
.border:after {
    content: "";
    width: 152px;
    height: 2px;
    background: #F2F2F2;
    display: inline-block;
    margin-top: 7px;
    margin-left: 5px;
    margin-bottom: 16px;
}

/*   FORM   */
.form{
    position: relative;
}
.square{
    position: absolute;
    top: 30px;
}
.form-item{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 14px;
    padding-top: 14px;
    padding-bottom: 16px;
    padding-left: 20px;
    margin-left: 60px;
    margin-right: 60px;
    width: 302px;
    margin-bottom: 15px;
    outline: none;
    border-radius: 4px;
    border: 1px solid #F2F2F2;

    color: #434343;}
.form-item:hover{
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.21);
}

.item-checkbox{
    display: inline-block;

}
.form-agree{
    display: flex;

    margin-left: 60px;
    margin-right: 60px;

    padding: 0 0 0 0 ;
}
.item-agree{
    display: inline-block;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 14px;
    color: #434343;
}

.item-conditions{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 14px;
    color: rgba(60, 184, 120, 0.8);
}
.item-conditions:hover{
    color: #01813F;
}

.button-create{
    width: 324px;
    height: 46px;
    background-color: rgba(60, 184, 120, 0.8);
    border: none;
    margin: 20px 60px 38px 60px;
    border-radius: 4px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 16px;
    color: #FFFFFF;
}
.button-create:hover{
    background: #01813F;
}