/* COMMON STYLE */

.container {
    max-width: 1190px;
    margin: 0 auto;

}

/* HEADER STYLE */

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #363535;
}

.header-logo {
    font-family: sans-serif;
    font-size: 22px;
    line-height: 30px;
    color: white;
    padding: 22px 27px;
    display: flex;
}

.logo-architect {
    font-family: sans-serif;
    font-weight: bold;
    font-size: 22px;
    padding-left: 30px;
}

.navigation-menu {

    display: flex;
    justify-content: space-between;
}

.navigation-menu-li {
    display: inline-block;
}

.nav-menu-link {
    font-family: sans-serif;
    text-transform: uppercase;
    color: white;
    padding-right: 22px;
}

.nav-menu-link:hover {
    color: #14B9D5;
}

.magnifier {
    background-color: #000000;
    padding: 28px;
}

.main {
    background-image: url("../img/main.jpeg");
    background-position: center;
    text-align: center;
    background-repeat: no-repeat;
    background-size: cover;


}

/* SECTION TOP NEWS */
.title-h1 {
    font-family: sans-serif;
    font-weight: bold;
    font-size: 27px;
    color: white;
    padding-top: 164px;
}

.buttons {
    padding-bottom: 67px;
}

.left-button {
    list-style-type: none;
    display: inline-block;
    padding-top: 45px;
    padding-right: 10px;

}

.left-button-link {

    background-color: #89CA62;
    padding: 16px 19px;
    color: white;
    font-family: sans-serif;
    font-size: 18px;
    line-height: 25px;
}

.right-button {
    list-style-type: none;
    display: inline-block;
    padding-top: 82px;
    padding-left: 10px;

}

.right-button-link {
    background-color: #14B9D5;
    padding: 16px 30px;
    color: white;
    font-family: sans-serif;
    font-size: 18px;
    line-height: 25px;
}

/* SECTION POPULAR POSTS */
.section-popular-posts {
    background-color: #F2F2F2
}

.posts {
    text-align: center;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 27px;
    text-transform: uppercase;
    color: #18B4CF;
    padding-top: 49px;
    display: flex;
    justify-content: center;
}

.posts-img {

    height: 920px;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 18px;
    color: #353A3D;
    text-align: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding-top: 30px;

}

.posts-position {
    padding: 18px;
}

.post-title {
    padding: 20px 0;
    background-color: #FFFFFF;
}

.posts-link {
    display: inline-block;
    color: #353A3D;
}

/* SECTION POPULAR CLIENTS */

.popular-clients{
    background-image: url("../IMG/parallax.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.popular-clients-title{
    font-family: sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 44px;
    display: flex;
    align-items: flex-end;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    position: relative;
}

.our-most{
    display: grid;
    grid-template-areas:
    'a pct pct pct pct b'
    'c img1 img2 img3 img4 d';
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    height: 588px;
}
.pct{
    grid-area: pct;
}
.img1{
    grid-area: img1;
}
.img2{
    grid-area: img2;
}
.img3{
    grid-area: img3;
}
.img4{
    grid-area: img4;
}
.a {grid-area: a;}
.b {grid-area: b;}
.c {grid-area: c;}
.d {grid-area: d;}
 .pct{
     display: flex;
     justify-content: center ;
     padding-bottom: 99px;
 }
 .popular-clients-title::before{
     content: url("../img/stik.png");
     position: absolute;
     right: 220px;
     top: 250px;
 }
 .img1{
     padding-top: 50px;
     padding-right: 30px;
 }
.img2{
    padding-top: 45px;
}
.img3{
    padding-top: 45px;
}
.img4{
    padding-left: 30px;
    padding-top: 50px;
}

/* SECTION TOP RATED */

.tr-img{
    width: 100%;
    height: 100%;
}
.tr-title{

    font-family: sans-serif;
    font-weight: bold;
    font-size: 27px;
    text-align: center;
    text-transform: uppercase;
    color: #18B4CF;
    padding-top: 50px;
    padding-bottom: 50px;

}
.top-rates-img{

    display: grid;
    grid-template-areas:
'tr1 tr2 tr3 tr4 tr5 tr6 tr7';

    grid-template-rows: 1fr ;


    grid-template-columns: auto auto auto auto auto auto auto ;

}

.tr1{ grid-area: tr1}
.tr2{ grid-area: tr2}
.tr3{ grid-area: tr3}
.tr4{ grid-area: tr4}
.tr5{ grid-area: tr5}
.tr6{ grid-area: tr6}
.tr7{ grid-area: tr7}

/* SECTION HOT NEWS */
.hn1-h4{
    font-family: sans-serif;
    font-weight: bold;
    font-size: 18px;
    text-align: right;
    color: #353A3D;
    padding-right: 25px;
    padding-top: 15px;
    padding-bottom: 15px;
}
.hn2-h4{
    font-family: sans-serif;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    color: #353A3D;
    padding-top: 14px;
}

.hn3-h4, .hn5-h4, .hn8-h4 {

    font-family: sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    text-align: right;
    color: #353A3D;
    padding-right: 25px;
    padding-top: 15px;
    padding-bottom: 15px;
    }
.hn4-h4, .hn6-h4 {

    font-family: sans-serif;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    text-align: right;
    color: #353A3D;
    padding-right: 25px;
    padding-top: 15px;
    padding-bottom: 15px;
}
.hn7-h4{
    font-family: sans-serif;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    color: #353A3D;
    padding-top: 15px;
    padding-bottom: 15px;
}
.hn1-p, .hn3-p, .hn4-p, .hn5-p, .hn6-p, .hn8-p{
    font-family: sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    display: flex;
    align-items: center;
    text-align: right;
    padding-right: 24px;
    padding-left: 13px;
    color: #5B6469;
}
.hn3-p,.hn4-p,.hn5-p,.hn6-p{
    padding-bottom: 5px;
}

.hn-title {
    font-family: sans-serif;
    font-weight: bold;
    font-size: 27px;
    text-align: center;
    text-transform: uppercase;
    color: #18B4CF;
    padding-top: 50px;
    padding-bottom: 50px;

}

.hot-news-1,.hot-news-8{
    display: flex;
    justify-content: space-between;
}


.hot-news-1,.hot-news-2, .hot-news-3, .hot-news-4, .hot-news-5, .hot-news-6,.hot-news-7, .hot-news-8 {
    background-color: #F9F7F7;

}
.hn-img{
    width: 100%;
}

.hot-news-content{
    display: grid;
    grid-template-columns: 1fr 30px 1fr 60px 1fr 30px 1fr;
    grid-row-gap: 30px;
    grid-template-rows: 259px 430px 430px 259px;
    grid-template-areas:
    "hotnews1 hotnews1 hotnews1 hotnews1 hotnews1 . hotnews2"

    "hotnews3 hotnews3 hotnews3 . hotnews4 hotnews4 hotnews4"

    "hotnews5 hotnews5 hotnews5 . hotnews6 hotnews6 hotnews6"

    "hotnews7 . hotnews8 hotnews8 hotnews8 hotnews8 hotnews8";
}
.hot-news-1 { grid-area: hotnews1;}
.hot-news-2 { grid-area: hotnews2;}
.hot-news-3 { grid-area: hotnews3;}
.hot-news-4 { grid-area: hotnews4;}
.hot-news-5 { grid-area: hotnews5;}
.hot-news-6 { grid-area: hotnews6;}
.hot-news-7 { grid-area: hotnews7;}
.hot-news-8 { grid-area: hotnews8;}
.hot-news-content{
    margin-bottom: 71px;
}

/* FOOTER */

.real-footer{
    background-color: #000000;
}

.footer-title{

    font-family: sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 13px;
    display: flex;
    align-items: center;
    text-align: right;
    padding-top: 35px;
    padding-bottom: 35px;
    color: #FFFFFF;
}
.footer{

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "left right";
}
.footer-title{ grid-area: left}
.footer-logo{
    grid-area: right;
    display: inline-block;
    text-align: right;
    padding-top: 30px;
}
