*{
    margin: 0;
    padding: 0;
}
.container{
    max-width: 1145px;
    margin: 0 auto;
}
.header-nav{ text-transform: uppercase;
    font-weight: bold;
    list-style-type: none ;
    display: flex;
    justify-content: center;
    font-size: 27px;
    line-height: 27px;
    margin-top: 35px;
    }
.header-nav-link {text-decoration: none;
    font-family: sans-serif;
    color: red;
    padding: 5px;
    margin: 15px;

}
.main-img{
    width: 100%;
    margin-top: 25px;
    margin-bottom: 48px;
}
.article-heading{
    text-align: center;
    text-transform: uppercase;
    font-family: sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 27px;
    letter-spacing: 3.3px;
    color: #373737;
    margin-bottom: 48px;
    }
.article-text {
    font-family: sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 2.4px;
    margin-left: 68px;
    margin-right: 68px;
    color: #373737;
}
.article-text-part1{
    margin-bottom: 28px;
}
.button{
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 12px;
    align-items: center;
    letter-spacing: 1.8px;
    text-transform: uppercase;
    color: #FFFFFF;
    padding-bottom: 18px;
    padding-top: 18px;
    padding-left: 43px;
    padding-right: 43px;
    background-color: red;
    text-align: center;
    margin-top:80px ;
    margin-bottom: 82px;
    cursor: pointer;
    }
.footer{
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 2.4px;
    color: #373737;
    margin-bottom: 29px;
    text-align: right;


}