body {
    background-image: url("../IMG/backgroundmain.png");
    background-size: cover;

}

.container {
    margin: 0 auto;
    max-width: 1028px;
}

/* HEADER */
.logo-text-milan {
    font-family: sans-serif;
    font-weight: bold;
    font-size: 29px;
}

.logo-text-holidays {
    font-family: sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 18px;
}

.logo-wrapper {
    display: flex;
    width: 53px;
    height: 47px;
    background-image: url("../IMG/logo1.png");
    color: white;
    margin-top: 51px;
}

.logo-text {
    padding-left: 60px;
    margin-top: 3px;
}

.logo-wrapper:hover {
    background-image: url("../IMG/logo2.png");
    color: #F26522;
}

.contacts {
    /*display: inline-block;*/
    display: flex;
    flex-direction: column;
    /*margin-top: 46px;*/
    font-family: sans-serif;
    font-size: 18px;
    line-height: 18px;
    color: #FFFFFF;

}

.contacts-position {
    margin-top: 46px;
    padding-bottom: 20px;
}


.header {
    display: flex;
    justify-content: space-between;
}

.contacts:hover {
    color: #F26522;
}


/* MAIN */

.main-link-wrapper:hover .main-title {
    color: #F26522;
}

.main {
    display: grid;
    grid-template-columns:  300px 300px 300px;
    grid-column-gap: 62px;
    grid-row-gap: 37px;
    margin-top: 22px;
    text-align: center;
}

.main-link-wrapper {
    position: relative;
    overflow: hidden;
}

.main-link-hover {
    position: absolute;
    width: 305px;
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F26522;
    top: 300px;
    left: 0;
}

.main-link-wrapper:hover .main-link-hover {
    top: 165px;
    transition: 0.3s;
}

.main-title {
    font-family: sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 18px;
    text-align: center;
    padding-top: 20px;
    color: #FFFFFF;
}

.item-hover {
    background-color: #F26522;
}

.item-hover-prise {
    color: white;
}

.from {
    font-family: sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 10px;
    color: #FFFFFF;
    display: inline-block;

}

.symbol {
    font-family: sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 20px;
    display: inline-block;
    color: #FFFFFF;
    padding-left: 16px;

}

.details {
    font-family: sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: #FFFFFF;
    display: inline-block;
}


.hover-on {

    width: 295px;
    background: #F26522;
    padding-left: 16px;
    padding-right: 14px;
}

.line {
    display: flex;
    justify-content: space-between;
}

.price, .details, .symbol {
    display: inline-block;
}

.from {
    font-family: "sans-serif";
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 10px;
    color: #FFFFFF;
    padding-bottom: 8px;
}

.price {
    font-family: sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 20px;
    color: #FFFFFF;
}

.details, .symbol {
    font-family: sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    display: flex;
    align-items: center;


    color: #FFFFFF;
}

.all-hover {
    display: flex;

}

span {
    padding-left: 10px;
}

/* FOOTER */

.footer {
    font-family: sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 12px;
    text-align: center;
    color: #FFFFFF;
    margin-top: 49px;
    padding-bottom: 15px;
}
