*,
*:before,
*:after{
  box-sizing: border-box;
}

.header{
position: absolute;
width: 100%;
background-color: rgba(94,93 , 88, 0.6);
}


.promo{
background: url(../IMG/main.png) no-repeat center / cover ;
height: 892px;
background-attachment:fixed;
}

.body{
font-family: Montserrat;
font-weight: 700;
font-size: 16px;
}
.logo-name-span{
color: #18CFAB;
}
.nav-logo{
color: white;
position: relative;
display: flex;
justify-content: space-between;
}

.logo{
position: relative;
display: flex;
align-items: center            
 }
.logo::before{
position: absolute;
content:  "H";
left: 13px;
font-size: 40px;
display: flex;
align-items: center
}
.logo-name{
font-size: 32px;
font-weight: normal;
display: flex;
align-items: center               
}
.nav-menu-wrapper{
display: flex;
justify-content: space-around;
}
   
.nav-wrapper {
max-width: 1160px;
margin: 0 auto;
height: 120px;   
display: flex;
justify-content: space-around;
}
.nav-menu{    
display: flex;
align-items: center 
}
.nav-menu:hover{
border-bottom : 2px solid #18CFAB;
}
.nav-menu:hover .nav-menu-link{     color: #18CFAB;
}
.nav-menu-link{
color: rgba(255, 255, 255, 0.6);
padding-left: 10px;
padding-right: 10px;    
}
.promo-main{
max-width: 1160px;
margin: 0 auto;  
}
.promo-name{
font-weight: 700;
font-size: 35px;
color: #FFFFFF;
display: flex; 
justify-content: center;
padding-top:  379px;
font-style: normal;
}
.promo-name-span{
color: #18CFAB;
margin-left: 4px;
}
.promo-slogan{
font-weight: 700;
font-size: 78px;
color: #FFFFFF;
display: flex;
justify-content: center;
margin-top: 22px;
}
.promo-act{
font-style: normal;
font-size: 34px;
color: #D4D4D4;
display: flex;
justify-content: center;  
margin-top: 22px;
font-weight: 400;
}
.btn-wrapper{
display: flex;
justify-content: center;
margin-top: 134px;

}
.btn-promo{
color: #FFFFFF;
font-weight: 700;
font-style: normal;
font-size: 15px;  
height: 63px;
width: 168px;
border-width: 5px 0px 0px 0px;
border-radius: 10px;
border-color: #FFFFFF;
}
.btn-left{  
background-color: #18CFAB;
}
.btn-right{
background-color: #00CBF6;  
margin-left: 26px;
  }

/* ///////SECTION OPTIONS///////// */

.options-wrapper{
min-width:  1160px;

display: flex;
}
.options-common{
min-width: 25%;
height: 266px;
display: flex;
flex-direction: column;
align-items: center ;
margin-top: 3px;
padding-top: 60px;
font-style: normal;
font-weight: bold;
font-size: 20px;  
}
.option1, .option3{
background-color: #1C2A33;
color:#18CFAB
}

.option2, .option4{
background-color: #18CFAB;
color: #FFFFFF;
}
.option1-img, .option3-img{
height: 60px;
width: 37px;
margin-bottom: 28px;
}
.option2-img, .option4-img{
height: 50px;
width: 60px;
margin-bottom: 36px;
}


/* ///////SECTION OUR SERVISES///////// */

.servis-heading{
font-style: normal;
font-weight: normal;
font-size: 36px;
color: #4E4E4E;
text-align: center;
margin-top: 83px;
}
.servis-heading::after{
content: url(../IMG/Stick.svg);
position: relative;
top: 30px;
right: 140px;

}
.servis-heading::before{
  content: url(../IMG/Stick.svg);
position: relative;
top: 27px;
left: 140px;
}

.servis-list{
display: flex;
justify-content: center;
margin-top: 100px;
margin-bottom: 27px;


}
.servis{
width: 194px;
height: 72px;
background: #F8FCFE;
border: 1px solid #EDEFEF;
color:  #717171;
font-style: normal;
font-weight: normal;
font-size: 15.9859px;
display: table-cell;
vertical-align: middle;
text-align: center;  
position: relative;
cursor: pointer;
}


 .servis-focus:hover{
border: solid 1px #18CFAB
}

.servis-hover:before {
content: url(../IMG/triangle.png);
font-size: 50px;
position: absolute;
top: 40px;
left: 80px;   
float: left;
}
.servis-hover{
background-color: #18CFAB;
color:  #FFFFFF;
    
}
.service-wrapper{
display: flex;
margin: 0 auto;
max-width: 1164px;

   
}
 
.service-img{   
width: 194px;
margin-right: 15px;
}
  
.service-content{
font-style: normal;
font-weight: 300;
font-size: 14px;
line-height: 24px;
}
 .hide{
  display:none;
}
 /* install-now */

.install-now{
margin-top: 90px;
background-image: url(../IMG/installNow.png);
}
.install-now-wrapper{
max-width: 1160px;
height: 476px;
margin: 0 auto;
text-align: center;
}
.install-now-heading{
font-style: normal;
font-weight: bold;
font-size: 40px;
color: #18CFAB;
padding-top: 126px;
text-transform: uppercase;
}

.install-now-content{
font-style: normal;
font-weight: normal;
font-size: 14px;
color: #D8D8D8;
padding-top: 12px;
line-height: 50px;
text-justify: distribute-all-lines;
}

.install-now-button{
font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 15px;
color: #FFFFFF;
background: #18CFAB;
height: 63px;
width: 168px;
border-width: 5px 0px 0px 0px;
border-radius: 10px;
border-color: #FFFFFF;
margin-top: 62px; 
}


 /* Our Amazing Work */

.amazing-work{
background: #E9EDEF;
}
.amazing-work-container{
max-width: 1160px;
margin: 0 auto;
text-align: center;
}
.amazing-work-heading{
font-style: normal;
font-weight: normal;
font-size: 36px;
color: #4E4E4E;
text-align: center;
padding-top: 83px;
margin-bottom: 110px;
}
.amazing-work-heading::after{
content: url(../IMG/Stick.svg);
position: relative;
top: 30px;
right: 200px;
}

.amazing-work-heading::before{
content: url(../IMG/Stick.svg);
position: relative;
top: 27px;
left: 200px;
}

.amazing-list{
display: flex;
justify-content: center;
margin-top: 100px;
margin-bottom: 71px;
}
.amazing{
width: 194px;
height: 72px;
background: rgba(0, 0, 0, 0.0001);
border: 1px solid #DADADA;
color:  #717171;
font-style: normal;
font-weight: normal;
font-size: 15.9859px;
display: table-cell;
vertical-align: middle;
text-align: center;  
position: relative;
}
  
   
.amazing-active:hover{
border: solid 1px #18CFAB;
cursor: pointer;
}
    
.am-choice:before {
content: url(../IMG/triangle.png);
font-size: 50px;
position: absolute;
top: 33px;
left: 80px;
float: left;
}
    
.am-choice{
background-color: #18CFAB;
color:  #FFFFFF;
};
.amazing-wrapper-active{
display: flex;
}


.amazing-img-wrapper{
display: flex;
flex-wrap: wrap;
padding-bottom: 100px;
}


.amazing-img{
width: 25%;
height: 211px;
background-size: cover;
position: relative;
}
.imgAdd
 {
  display: block;
}
    

.amazing-hover-wrapper{
display: flex;
flex-direction: column;
background-color: #E9EDEF;
border-top: 4px solid #18CFAB;
position:absolute ; 
visibility: hidden;
rotate: -10deg ;
}

.am-img-active:hover .amazing-hover-wrapper {
visibility: visible;
width: 100%; 
height: 100%;
transition: all 300ms linear;   
rotate: 0deg ;  
transition-delay: 0.3s;
}

.amazing-button{ 
height: 63px;
width: 168px;
background-color: #18CFAB; 
margin-bottom: 100px;
border-radius: 7px;
cursor: pointer;
}

.amazing-button-span{
color: #FFFFFF;
font-style: normal;
font-weight: bold;
font-size: 14px;
text-transform: uppercase;
position: relative;
padding-left: 23px;
}
.amazing-button-span::before{
position: absolute;
content:url(../IMG/plus.svg);
right:100px;
}

.amaising-hover-btn{
border: none;
margin-top: 48px;
margin-bottom: 25px;
} 
.amaising-hover-head{
font-size: 14.18px;
color:#18CFAB;
text-transform: uppercase;
margin-bottom: 15px;
}
.amaising-hover-sort{
font-size: 12.15px;
color: #8A8A8A;
font-weight: 300;
}


 /* BREAKING NEWS */
.news-wrapper{
max-width: 1160px;
margin: 0 auto;
padding-bottom: 130px;
}

.news-heading{
font-style: normal;
font-weight: normal;
font-size: 36px;
color: #4E4E4E;
text-align: center;
margin-top: 83px;
margin-bottom: 100px;
}
.news-heading::after{
content: url(../IMG/Stick.svg);
position: relative;
top: 30px;
right: 185px;

}
.news-heading::before{
content: url(../IMG/Stick.svg);
position: relative;
top: 27px;
left: 185px;
}
.news-img{
display: flex;
flex-direction: column;
position: relative;
}
.news-grid{
display: grid;
grid-template-columns: repeat(4, 1fr) ;
grid-column-gap: 35px;
grid-template-rows:repeat(2 1fr);
grid-row-gap: 35px;
}
.news-img-title{
font-style: Bold;
font-size: 17.99px;
text-align: Center;
vertical-align: Center;
color: #717171;
display: inline-block;
padding-top: 10px;
}
.news-img:hover .news-img-title {
color: #18CFAB;
}
.news-img:hover .news-img-date {
background-color: #18CFAB;
}
.news-img-comments{
display: inline-block;
font-weight: 300;
font-size: 14px;
color: #777777;
text-align: Center;
vertical-align:middle ;
padding-top: 13px;
}

.news-img-date{
position:absolute ;
right: 0px;  
padding: 6px 16px 6px 16px;
background-color:#203E38 ;
color: white;
display: flex;
flex-direction: column;
font-weight: 300;
font-size: 16px;
}
.news-img-date-date{
padding-bottom: 6px;
text-align:center ;
}
.news-img-wrapper{
display: block;
}

/* PEOPLE'S GOSSIPS */

.opinion{
background-image: url(../IMG/People/people.png);
background-repeat: no-repeat;
background-size:cover;
width: 100%;
height: auto;
}
.opinion-container{
max-width: 1160px;
margin: 0 auto;
align-items: center;
}
.opinion-header{
font-weight: 400;
font-size: 36px;
color: white;
text-align: center;
padding-top: 98px;
}
.quotes-img{
display: inline-block;
align-items: center;

}
.opinion-quotes{
text-align:center;
align-items: center;
padding-top: 100px;
padding-bottom: 36px;
}
.opinion-text{
color: #BBBBBB;
font-size: 16px;
font-weight: 300;
line-height: 30px;
}
.opinion-information{
text-align:center ;
display: none;
align-items:center;
justify-content: center;
flex-direction: column;
margin-bottom: 70px;
}
.opinion-name{
text-transform: uppercase;
color: #18CFAB;
font-size: 16px;
font-weight: 600;
text-align: center;
padding-top: 37px;
padding-bottom: 15px;
}
.opinion-occupation{
color: #BBBBBB;
font-size: 16px;
font-weight: 300;
line-height: 30px;
text-align: center;
}
.opinion-big-photo{
width: 143px;
height: 143px;
margin-top: 50px;
}
.big-face{

display: block;
width: 100%;
height: 100%;
object-fit: fill;
border-radius:  50%;
border: solid 12px #144946;
}
.opinion-left{
  padding: 11px 8px;
}

.opinion-choice{
display: flex;
justify-content: space-between;
padding-top: 50px;
padding-bottom: 104px;
width: 464px;
margin: 0 auto;
}

.opinion-face{
width: 60px;
height: 60px;

}
.face{
width: 100%;
height: 100%;
object-fit: fill;
border-radius:  50%;
border: solid 6px #144946;
}

.arrow-left{
position: absolute ;
width: 10px;
height: 10px;
border-left: solid 2px #BBBBBB;
border-bottom : solid 2px #BBBBBB ;
transform: rotate(45deg);
top: 12px;
left: 14px;

}
.left-arrow-seat:hover .arrow-left{
width: 10px;
height: 10px;
border-left: solid 2px white;
border-bottom : solid 2px white;
transform: rotate(45deg);
}

.left-arrow-seat{
display: inline-block;
position: relative;
width: 33px;
height: 34px;
border:solid 1px #BBBBBB;
top: 17px
}

.left-arrow-seat:hover {
border:none;
background-color: #18CFAB;
}
.arrow-right{
position: absolute ;
width: 10px;
height: 10px;
border-left: solid 2px #BBBBBB;
border-bottom : solid 2px #BBBBBB ;
top: 12px;
right: 14px;
transform: rotate(-135deg);
}

.right-arrow-seat:hover .arrow-right{
width: 10px;
height: 10px;
border-left: solid 2px white;
border-bottom : solid 2px white;
transform: rotate(-135deg);
}

.right-arrow-seat{
display: inline-block;
position: relative;
width: 33px;
height: 34px;
border:solid 1px #BBBBBB;
top: 17px
}

.right-arrow-seat:hover {
border:none;
background-color: #18CFAB;
}

.slide-active{
display: flex;
}

.dot-active{
margin-top: -10px;
}

.go{
animation: go 2.5s;
}

@keyframes go {
from { opacity:  0; }
to { opacity: 1; }
}

.footer{
padding-top: 48px;
padding-bottom: 48px;
background-color:#22353F ;
font-size: 14px;
font-weight: 300;
text-align: center;
color: #AEAEAE;
}

.footer-span{
color: #18CFAB;
}