body {
    background-color: #1d1d1d;
    overflow: hidden;
    font-family: 'Roboto', sans-serif;
    color: #ffc909;
}


.wrapper {

    display: flex;
    height: 100%;
    width: 90%;
    margin: 0 auto 0 auto;
    perspective: 350px;
}

.scroll-text {
    font-size: 50px;


    line-height: 2em;

    text-align: justify;
    position: relative;
    animation: scroll 30s linear;
    animation-iteration-count: infinite;

}

h1, h2 {
    text-align: center;
}

@keyframes scroll {
    0% {
        top: 300px;
        transform: translateZ(0px) rotateX(20deg);
    }
    100% {
        top: -4000px;
        transform: translateZ(-2000px) rotateX(21deg);
    }
}