*{
    font-family: sans-serif;
}
.container{
    width: 1280px;
    margin: auto;
}
.logo{
    display: inline-block;
    margin-top: 63px;
    margin-bottom: 63px;
    font-size: 80px;
    color: black;
}

.logo-span {
    color: cornflowerblue;
}

.menu-item {
    display: flex;
    justify-content: center;
    background-color: #35444F;
    padding-left: 98px;
}

.menu-item-link {
    color: white;
    font-size: 24px;
    line-height: 28px;
    padding: 23px 38px;
    display: inline-block;
    border-left: 1px solid white;
}

.menu-item-link {
    transition: all 1s;
}

.menu-item-link:hover{
     background-color: #222F3A;
 }
.main{
    margin-top: 63px;
    display: flex;
    justify-content: space-between;
}

aside{
    width: 335px;
    height: 400px;
    background: white;
    border: 1px solid #000000;
}

li{list-style-type: none;}
.aside-li {
    display: inline-block;
    color: #3b3939;
    font-size: 27px;
    text-align: left;
    /*height: 66px;*/
    padding: 27px 0 27px 10px;
    /*padding-top: 27px;*/
    }
.main-aside-li {transition: all 0.3s;}
.main-aside-li:hover {

    background-color: #e0dfdf;
    width: 335px;
    height: 77px;
    /*padding-left: 38px;*/


}
.main-aside-li:hover .aside-li{
    padding-left: 38px;
    transition: all 0.4s;
    font-weight: bold;
}

.content {
    width: 885px;
    height: 850px;
}
.img{
    padding: 74px 280px;
    border: 1px solid #35444F;
    margin-bottom: 35px;
    transition: all 0.3s;
    width: 320px;
    height: 381px;
}


.img:hover{
    width: 340px;
    height: 421px;
    padding: 54px 270px;
   }


.content-text{
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    padding-bottom: 35px;
    letter-spacing: 2px;
    }

.footer{
    display: flex;
    justify-content: space-around;
    /*height: 70px;*/
    background-color: gray;
    margin-top: 80px;
}
.footer-list-link, .footer-text{
    display: inline-block;
    color: black;
    padding-top: 21px;
    padding-bottom: 21px;
    /*height: 69px;*/
    left: 10px;
    font-size: 28px;
    line-height: 28px;
    }

li:not(:last-child) .footer-list-link:hover {
    color: #074e63;
    text-decoration: underline #074e63;

}
.footer-text{
    padding-left: 66px;
}
/*.span-logo{*/
/*    color: gray;*/
/*    }*/
